@using Infinite.MVC.Day2.Models
@model Customer
@{
    ViewBag.Title = "Create";
}

<h2 class="mt-4">Create</h2>
</hr>
@using (Html.BeginForm())
            {
<div class="mb-2">
    @Html.LabelFor(c => c.Name, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
</div>
<div class="mb-2">
    @Html.LabelFor(c => c.MobileNo, new { @class = "form-label" })
    @Html.TextBoxFor(c =>c.MobileNo , new { @class = "form-control" })
    </div>

    <div class="mt-2">
        <input type="submit" id="btnSubmit" class="btn btn-primary" value="Submit" />
    </div>
    }
